body {
  margin: 0 44px 44px;
  color: #2d2d2d;
  font-family: 'Work Sans', sans-serif;
}
.wrapper {
  width: 98%;
  max-width: 1300px;
  margin: 0 auto;
}
.font_nav {
  font-family: 'Cormorant', serif;
}
.top_header {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_header .logo {
  text-decoration: none;
  background: url('img/logo.png') center center no-repeat;
  display: block;
  min-height: 100px;
  line-height: 100px;
}
.top_header .logo h1 {
  color: #2d2d2d;
  font-size: 35px;
  letter-spacing: 0.14em;
}
.top_header .top_right_nav {
  display: flex;
}
.top_header .top_right_nav nav ul {
  font-size: 0;
}
.top_header .top_right_nav nav ul li {
  font-size: 16px;
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
  color: #2d2d2d;
  letter-spacing: 0.12em;
  font-weight: 600;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav nav ul li:hover {
  color: #98a58a;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav nav ul li a {
  color: inherit;
}
.top_header .top_right_nav .mobile {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  background: url('img/mobile.png') center center no-repeat;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav .mobile:hover {
  opacity: 0.3;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav .tele {
  display: block;
  height: 16px;
  font-size: 16px;
}
.info_sect {
  height: 770px;
  margin-bottom: 40px;
  background: #eaeff4 url('img/home.png') center center no-repeat;
}
.info_sect .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.info_sect .wrapper .info_data {
  max-width: 600px;
}
.info_sect .wrapper .info_data h2 {
  font-size: 95px;
  line-height: 75px;
  color: #3b47 if;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}
.info_sect .wrapper .info_data .description {
  font-size: 20px;
  color: #3b47 if;
  line-height: 27px;
  margin-bottom: 35px;
}
.info_sect .wrapper .info_data .button {
  background: #98a58a;
  padding: 1em 2em;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.16em;
  display: inline-block;
  position: relative;
  appearance: none;
  cursor: pointer;
  overflow: hidden;
}
.info_sect .wrapper .info_data .button span {
  position: relative;
  pointer-events: none;
}
.info_sect .wrapper .info_data .button::before {
  --size: 0;
  content: '';
  position: absolute;
  display: block;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #c2d17d, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.info_sect .wrapper .info_data .button:hover::before {
  --size: 170px;
  display: block;
}
.services_icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ebebe9;
  min-height: 335px;
}
.services_icon .item {
  width: calc(25% - 105px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services_icon .item .image_holder {
  width: 170px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.services_icon .item h3 {
  color: #3b471f;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.services_icon .item p {
  color: #909090;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}
.about_posts {
  margin-top: 160px;
  margin-bottom: 160px;
  text-align: center;
}
.about_posts h2.block_title {
  color: #3b471f;
  font-size: 46px;
  padding-bottom: 40px;
  margin-bottom: 75px;
  position: relative;
  display: inline-block;
}
.about_posts h2.block_title::after {
  content: "";
  width: 50px;
  height: 1px;
  background: #3b471f;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}
.about_posts .about_list {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.about_posts .about_list .about_item {
  width: calc(25% - 22px);
}
.about_posts .about_list .about_item .data_line {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #3b471f;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.about_posts .about_list .about_item .data_line .about_img {
  padding-right: 14px;
}
.about_posts .about_list .about_item .data_line .line {
  flex-grow: 1;
  height: 1px;
  background: #3b471f;
}
.about_posts .about_list h3 {
  color: #3b471f;
  font-size: 25px;
}
.about_posts .about_list h3 a {
  transition: all 300ms ease-in-out;
}
.about_posts .about_list h3 a:hover {
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}
.services_list {
  background: #eef1ec url('img/bagr_serv.jpg') top center no-repeat;
  padding-top: 135px;
  text-align: center;
}
.services_list .block_title {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #2d2d2d;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 100px;
}
.services_list .block_title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 1px;
  height: 60px;
  background: #717f6c;
  display: block;
}
.services_list .sub_title {
  color: #3b471f;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: 0.05em;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.services_list .product_list {
  margin-top: 180px;
}
.services_list .product_list .product {
  width: calc(50% - 17px);
  margin-top: 300px;
  float: left;
  display: flex;
}
.services_list .product_list .product:first-child {
  margin-top: 0;
}
.services_list .product_list .product:nth-child(even) {
  float: right;
}
.services_list .product_list .product .image_holder {
  text-align: center;
  width: 50%;
}
.services_list .product_list .product .data_holder {
  width: 50%;
  box-sizing: border-box;
  padding-right: 30px;
  text-align: left;
}
.services_list .product_list .product .data_holder span.catig {
  color: #2d2d2d;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-family: 'Cormorant', serif;
}
.services_list .product_list .product .data_holder h3 {
  color: #3b471f;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: 'Cormorant', serif;
}
.services_list .product_list .product .data_holder p {
  color: #3b471f;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 50px;
}
.services_list .all_products {
  margin-top: 150px;
  padding-bottom: 100px;
}
.services_list .all_products a {
  display: block;
  margin: 0 auto;
  margin-top: 85px;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #9d7c4d;
  text-transform: uppercase;
  position: relative;
}
.services_list .all_products a::before {
  content: "";
  background: #717f6c;
  display: block;
  width: 1px;
  height: 60px;
  top: 0;
  margin-top: -85px;
  left: 50%;
  position: absolute;
  transition: all 300ms ease-in-out;
}
.services_list .all_products a:hover::before {
  margin-top: 40px;
  transition: all 300ms ease-in-out;
}
.box_subscribe {
  margin-top: 200px;
  background: #edf0f1;
}
.box_subscribe .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_subscribe .wrapper .left_subscribe {
  width: calc(50% - 80px);
  box-sizing: border-box;
  padding-left: 100px;
}
.box_subscribe .wrapper .left_subscribe .category {
  display: block;
  font-size: 15px;
  color: #3b471f;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-left: 86px;
  margin-bottom: 25px;
}
.box_subscribe .wrapper .left_subscribe .category::before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background: #3b471f;
  position: absolute;
  right: 100%;
  top: 5px;
  margin-right: 15px;
}
.box_subscribe .wrapper .left_subscribe .block_title {
  max-width: 270px;
  color: #3b471f;
  font-size: 55px;
  letter-spacing: 0.04em;
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600;
}
.box_subscribe .wrapper .left_subscribe .description {
  color: #3b471f;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 40px;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe {
  border: 1px solid #3b471f;
  height: 55px;
  width: 100%;
  max-width: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe:hover {
  transition: all 300ms ease-in-out;
  background-color: #e6ebce;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe input {
  background: transparent;
  border: 0;
  outline: 0;
  height: 55px;
  color: #999999;
  font-size: 16px;
  font-weight: 300;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe input[type="email"] {
  flex-grow: 1;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe .separator {
  width: 1px;
  height: 26px;
  background: #3b471f;
  transition: all 300ms ease-in-out;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe input[type="submit"] {
  width: 54px;
  background: transparent url('img/envelope.png') center center no-repeat;
  transition: all 300ms ease-in-out;
}
.box_subscribe .wrapper .left_subscribe .form_subscribe input[type="submit"]:hover {
  opacity: 0.6;
  transition: all 300ms ease-in-out;
}
.box_subscribe .wrapper .right_subscribe {
  width: calc(50% - 100px);
}
.box_subscribe .wrapper .right_subscribe figure {
  min-height: 610px;
  position: relative;
  width: 100%;
}
.box_subscribe .wrapper .right_subscribe figure figcaption {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.box_subscribe .wrapper .right_subscribe figure figcaption .mask {
  margin-left: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider_info {
  margin-top: 220px;
  margin-bottom: 200px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  position: relative;
}
.slider_info .left_box {
  width: 50%;
}
.slider_info .left_box img {
  max-width: 100%;
  height: auto;
}
.slider_info .right_box {
  width: 50%;
  background: #f7f8f5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 101px;
}
.slider_info .right_box .data_holder {
  text-align: center;
}
.slider_info .right_box .data_holder .category {
  margin-top: 80px;
  color: #3b471f;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}
.slider_info .right_box .data_holder .category::before {
  content: "";
  width: 1px;
  height: 70px;
  background: #3b471f;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -90px;
}
.slider_info .right_box .data_holder h3 {
  color: #3b471f;
  font-size: 45px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}
.slider_info .right_box .data_holder .description {
  color: #3b471f;
  font-size: 17px;
  line-height: 27px;
  max-width: 500px;
}
.slider_info .right_box .data_holder .numbs {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_info .right_box .data_holder .numbs .separator {
  width: 70px;
  background: #3b471f;
  height: 1px;
  margin-right: 20px;
  margin-left: 20px;
}
.slider_info .right_box .data_holder .numbs ul li {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  border: 1px solid #3b471f;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.slider_info .right_box .data_holder .numbs ul li:last-child {
  margin-right: 0;
}
.slider_info .right_box .data_holder .numbs ul li:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  background: #3b471f;
  border-radius: 100%;
  display: block;
  position: absolute;
  margin-left: -2.5px;
  margin-top: -2.5px;
}
.slider_info .right_box .data_holder .numbs ul li.active::after {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  background: #3b471f;
  border-radius: 100%;
  display: block;
  position: absolute;
  margin-left: -2.5px;
  margin-top: -2.5px;
}
.slider_info .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -203px;
  margin-left: -101px;
}
.slider_info .product_img img {
  border: 1px solid #e6e9e4;
}
.contact_footer {
  background: #ffffff url('img/footer.jpg') bottom center no-repeat;
  min-height: 525px;
  text-align: center;
  padding-top: 70px;
  box-sizing: border-box;
}
.contact_footer .logo {
  margin-bottom: 65px;
  text-decoration: none;
  background: url('img/logo.png') center center no-repeat;
  display: block;
  min-height: 150px;
  line-height: 150px;
}
.contact_footer .logo h3 {
  color: #2d2d2d;
  font-size: 35px;
  letter-spacing: 0.14em;
}
.contact_footer .contact_data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_footer .contact_data span {
  margin-right: 27px;
  margin-left: 27px;
  color: #3b471f;
  font-size: 17px;
  font-weight: 300;
}
.contact_footer .contact_data span a {
  transition: all 300ms ease-in-out;
}
.contact_footer .contact_data span a:hover {
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}
.contact_footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.contact_footer .social a {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  line-height: 50px;
  width: 90px;
  color: #9d7c4d;
  font-size: 17px;
}
.contact_footer .social a.ok {
  background: url('img/ok.png') center center no-repeat;
}
.contact_footer .social a.vb {
  background: url('img/viber.png') center center no-repeat;
}
.contact_footer .social a.wts {
  background: url('img/whatsapp.png') center center no-repeat;
}
.contact_footer .top {
  color: #2d2d2d;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-bottom: 55px;
  display: block;
  position: relative;
}
.contact_footer .top::after {
  content: "";
  width: 1px;
  height: 62px;
  background: #3b471f;
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: -18px;
}
